@model Charter.Models.BaitsModel

@{
    ViewData["Title"] = "Edit Bait";
}



<h4>Enter information you want changed</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBait">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BaitId" />
            <input type="hidden" asp-for="CaptainId" />
            <div class="form-group">
                <label asp-for="BaitType" class="control-label"></label>
                <input asp-for="BaitType" class="form-control" />
                <span asp-validation-for="BaitType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaitCost" class="control-label"></label>
                <input asp-for="BaitCost" class="form-control" />
                <span asp-validation-for="BaitCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeathCount" class="control-label"></label>
                <input asp-for="DeathCount" class="form-control" />
                <span asp-validation-for="DeathCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaitPrice" class="control-label"></label>
                <input asp-for="BaitPrice" class="form-control" />
                <span asp-validation-for="BaitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerDozen" class="control-label"></label>
                <input asp-for="PricePerDozen" class="form-control" />
                <span asp-validation-for="PricePerDozen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
