@model IEnumerable<Charter.Models.MessagesModel>

@{
    ViewData["Title"] = "Index";
}

<h4>Messages From Clients</h4>

<p>
    <a asp-action="CreateMessage">Create New Message</a>
</p>

@foreach (var item in Model)
{
    <div class="media border p-3">
        <img src="~/css/images/snookjump.jpg" alt="Snook Jump" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h4>@Html.DisplayFor(modelItem => item.ScreenName) <small><i>Posted on @DateTime.Now.ToShortDateString()</i></small></h4>
            <p> @Html.DisplayFor(modelItem => item.Message)</p>
        </div>
    </div>
}